* {
  box-sizing: border-box;
}
body {
  margin: 0;
  padding: 0;
}
.App {
  text-align: center;
  display: flex;
  flex-direction: column;
}

.loader {
  animation: App-logo-spin infinite 10s linear;
  height: 30px;
  pointer-events: none;
}
.city-item > span {
  display: block;
}
button {
  padding: 10px;
  font-size: 20px;
  margin-bottom: 10px;
  border-radius: 5px;
  background-color: green;
  transition: all 0.5s;
}
button:hover {
  background-color: yellowgreen;
}

.city-list {
  position: absolute;
  top: 30%;
  left: 0;
  background-color: rgba(127,127,127,0.6);
  z-index: 1;
  padding: 10px;
  text-align: left;
  color: white;
  display: block;
}
.city-list li{
  margin-bottom: 5px;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
